@model List<MobiZ.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}
@section jsFooter{
        <script src="/Source/Client/js/Controllers/cartController.js"></script>
    }
<table class="table">
    <thead>
        <tr>
            <td>Mã SP</td>
            <td>Tên SP</td>
            <td>Ảnh SP</td>
            <td>Số lượng</td>
            <td>Đơn giá</td>
            <td>Thành tiền</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
            {
                 <tr>    
                    <td>@item.Product.Code</td>
                    <td>@item.Product.Name</td>
                    <td><img src="@item.Product.Image " height="100" /></td>
                    <td><input type="text" class="txtQuantity" data-id="@item.Product.ID" value="@item.Quantity" /></td>
                    <td>@item.Product.Price.GetValueOrDefault(0).ToString("N0")</td>
                    <td>@((item.Product.Price.GetValueOrDefault(0) * item.Quantity).ToString("N0"))</td>
                     <td><button class="btn btn-danger btn-delete" data-id="@item.Product.ID">Xóa</button></td>
                 </tr>
            }

    </tbody>
</table>
<div>
    <h3></h3>
</div>
<button id="btnContinue" class="btn">Tiếp tục mua hàng</button>
<button id="btnUpdate" class="btn">Cập nhật mua hàng</button>
<button id="btnDeleteAll" class="btn">Xóa giỏ hàng</button>
<button id="btnPayment" class="btn">Thanh toán</button>


