@model PagedList.IPagedList<MobiZ.Areas.Admin.Models.OrderView>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý đơn hàng</h2>
@using (Html.BeginForm("Index", "Order", FormMethod.Get))
{
    @Html.TextBox("SearchString", ViewBag.SearchString as string)
    <button type="submit" class="btn btn-success">Tìm kiếm</button>
}
<table class="table table-bordered table-hover">
    <tr>
        <th>
            Mã đơn hàng
        </th>
        <th>
            Tên người nhận
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Email
        </th>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Đơn giá
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipMobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <<td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
 
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount


@Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchString = ViewBag.SearchString }))

<style>
    p {
        font-family: 'Times New Roman'
    }

    th {
        font-family: 'Times New Roman';
        color: darkgreen;
    }

    td {
        font-family: Arial;
    }
</style>